<div class="row justify-content-end">
  <div class="col-12 col-md-6 btn-group">
    <div class="btn d-flex justify-content-end" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
      <h3 class="d-none d-md-inline"><i class="fa fa-angle-left"></i></h3>
      <h4 class="d-md-none"><i class="fa fa-angle-left"></i></h4>
    </div>
    <div class="d-flex justify-content-center">
      <h3 class="d-none d-md-block pt-2">{{ viewDate | calendarDate:(view + 'ViewTitle'): locale }}</h3>
      <h5 class="d-block d-md-none py-2 px-3">{{ viewDate | calendarDate:(view + 'ViewTitle'): locale }}</h5>
    </div>
    <div class="btn d-flex justify-content-start" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
      <h3 class="d-none d-md-block"><i class="fa fa-angle-right"></i></h3>
      <h4 class="d-md-none"><i class="fa fa-angle-right"></i></h4>
    </div>
  </div>
  <div class="col-12 col-md-3 d-flex justify-content-center justify-content-md-end mb-md-3 mt-md-1">
    <button class="btn btn-gray-100 text-gray-500 rounded mr-1 flex-shrink-0" mwlCalendarToday [(viewDate)]="viewDate" [translate]="'Events.Today'"></button>
    <select class="form-control ng-untouched ng-pristine ng-valid btn-gray-100 text-gray-500 flex-shrink-0" style="width: auto;">
      <option (click)="setView(CalendarView.Month);" [translate]="'Events.Month'"></option>
      <option (click)="setView(CalendarView.Week);" selected [translate]="'Events.Week'"></option>
      <option (click)="setView(CalendarView.Day);" [translate]="'Events.Day'"></option>
    </select>
  </div>
</div>

<div class="my-3" [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [locale]="locale"
    [activeDayIsOpen]="activeDayIsOpen"
    [refresh]="newEventSubject"
    [cellTemplate]="monthDayTemplate"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="navigateToEvent($event.event)">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
    [locale]="locale"
    [refresh]="newEventSubject"
    [eventTitleTemplate]="eventTitleTemplate"
    [dayStartHour]="8"
    (eventClicked)="navigateToEvent($event.event)">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="events"
    [locale]="locale"
    [refresh]="newEventSubject"
    [eventTitleTemplate]="eventTitleTemplate"
    [dayStartHour]="8"
    (eventClicked)="navigateToEvent($event.event)">
  </mwl-calendar-day-view>
</div>

<ng-template #monthDayTemplate
  let-day="day"
  let-openDay="openDay"
  let-locale="locale"
  let-tooltipPlacement="tooltipPlacement"
  let-highlightDay="highlightDay"
  let-unhighlightDay="unhighlightDay"
  let-eventClicked="eventClicked"
  let-tooltipTemplate="tooltipTemplate"
  let-tooltipAppendToBody="tooltipAppendToBody"
  let-tooltipDelay="tooltipDelay"
  let-trackByEventId="trackByEventId"
  let-validateDrag="validateDrag">
  <div class="cal-cell-top" [attr.aria-label]="{ day: day, locale: locale } | calendarA11y : 'monthCell'">
    <span aria-hidden="true">
      <span class="cal-day-number">{{day.date | calendarDate : 'monthViewDayNumber' : locale}}</span>
    </span>
  </div>
  <div class="cal-events" *ngIf="day.events.length > 0">
    <div class="cal-event" *ngFor="let event of day.events; trackBy: trackByEventId"
      mwlDraggable
      dragActiveClass="cal-drag-active"
      [ngStyle]="{ backgroundColor: event.color?.primary }"
      [ngClass]="event?.cssClass"
      [mwlCalendarTooltip]="event.title | calendarEventTitle : 'monthTooltip' : event"
      [tooltipPlacement]="tooltipPlacement"
      [tooltipEvent]="event" [tooltipTemplate]="tooltipTemplate"
      [tooltipAppendToBody]="tooltipAppendToBody"
      [tooltipDelay]="tooltipDelay"
      [class.cal-draggable]="event.draggable"
      [attr.aria-hidden]="{} | calendarA11y : 'hideMonthCellEvents'"
      [dropData]="{ event: event, draggedFrom: day }"
      [dragAxis]="{ x: event.draggable, y: event.draggable }"
      [validateDrag]="validateDrag"
      [touchStartLongPress]="{ delay: 300, delta: 30 }"
      (mwlClick)="eventClicked.emit({ event: event, sourceEvent: $event })"
      (mouseenter)="highlightDay.emit({ event: event })"
      (mouseleave)="unhighlightDay.emit({ event: event })">
    </div>
  </div>
</ng-template>

<ng-template #eventTitleTemplate let-event="event" let-view="view">
  <span class="cal-event-title" [innerHTML]="generateEventTitle(event)"
    [attr.aria-hidden]="{} | calendarA11y : 'hideEventTitle'">
  </span>
</ng-template>
